<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button
      (click)="drawer.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
      Gerenciador do Banco de Sangue
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p><b>Matheus de Oliveira Rodrigues Saleh</b></p>
    <p><b>Sistema Administrativo Banco de Sangue</b></p>
    <p><b>Hemocentro: </b> ASSIS - SP</p>
    @if (showFiller) {
    <p>Também não sei o que vai ter aqui</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button color="warn">
      <i class="bi bi-box-arrow-left"></i> Deslogar
    </button>

    <mat-selection-list>
      <mat-list-item routerLink="/doadores">
        <a matListItemTitle>Tabela de Doadores</a>
      </mat-list-item>

      <mat-list-item routerLink="/enfermeiros">
        <a matListItemTitle>Tabela de Enfermeiros</a>
      </mat-list-item>

      <mat-list-item routerLink="/doacoes">
        <a matListItemTitle>Tabela de Doações</a>
      </mat-list-item>

      <mat-list-item routerLink="/questoes">
        <a matListItemTitle>Tabela de Questões</a>
      </mat-list-item>

      <mat-list-item routerLink="/noticias">
        <a matListItemTitle>Tabela de Noticias</a>
      </mat-list-item>

      <mat-list-item routerLink="/verifica-elegibilidade">
        <a matListItemTitle>Verificação de Elegibilidade de Doador</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerencia-equipamentos-medicos">
        <a matListItemTitle>Gerenciar Equipamentos Médicos</a>
      </mat-list-item>

      <mat-list-item routerLink="/transfucoes-de-sangue">
        <a matListItemTitle>Transfuções de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/estoque-sangue">
        <a matListItemTitle>Estoque de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/campanhas-de-doacao-de-sangue">
        <a matListItemTitle>Campanhas de Doação de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/atualizar-guia-de-doacao-de-sangue">
        <a matListItemTitle>Atualizar Guia de Doação de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/controle-acesso">
        <a matListItemTitle>Controlar Acessos ao Sistema</a>
      </mat-list-item>

      <mat-list-item routerLink="/tabela-receptores">
        <a matListItemTitle>Tabela de Receptores de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/tabela-conquistas-de-usuario">
        <a matListItemTitle>Tabela de Conquistas de Usuário</a>
      </mat-list-item>

      <mat-list-item routerLink="/duvidas-de-usuarios">
        <a matListItemTitle>Dúvidas de Usuários</a>
      </mat-list-item>

      <mat-list-item routerLink="/atribui-missoes">
        <a matListItemTitle>Atribuir Missões a Usuários</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerenciar-descontos-ofertas">
        <a matListItemTitle>Gerenciar Descontos e Ofertas</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerenciar-empresas-parceiras">
        <a matListItemTitle>Gerenciar Empresas Parceiras</a>
      </mat-list-item>

      <mat-list-item routerLink="/solicitar-doacao-em-massa-para-empresa">
        <a matListItemTitle>Solicitar Doação em Massa Para Empresas</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerenciar-parcerias-com-influenciadores">
        <a matListItemTitle>Gerenciar Parcerias com Influenciadores</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerenciar-feedbacks-pos-doacao">
        <a matListItemTitle>Gerenciar Feedbacks Pós Doação</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerenciar-medicos">
        <a matListItemTitle>Gerenciar Médicos</a>
      </mat-list-item>

      <mat-list-item routerLink="/agendar-doacao-de-sangue">
        <a matListItemTitle>Agendar Doação de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/gerenciar-pessoas-precisando-de-doacao">
        <a matListItemTitle>Gerenciar Pessoas Precisando de Doação de Sangue</a>
      </mat-list-item>

      <mat-list-item routerLink="/comunicacao-com-outros-hemocentros">
        <a matListItemTitle>Comunicação com outros hemocentros</a>
      </mat-list-item>
    </mat-selection-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
